html, body {
  height: 100%;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@default-button-color: #118dff;
@green-color: #238b42;
@red-color: #c40000;

@message-width: 400px;
@message-height: 400px;

@mobile: ~"(max-width: 1024px)";

.header {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.8);
  .logo {
    margin-left: 200px;
    line-height: 30px;
    color: #00ff6a;
    text-transform: uppercase;
  }
}

#message-container {
  position: absolute;
  width: 100%;
  top: 45px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  #game-end-message {
    position: absolute;
    display: none;
    top: 78px;
    text-align: center;
    left: 50%;
    margin-left: (@message-width / 2) * -1;
    bottom: 0;
    background: white;
    z-index: 1000;
    width: @message-width;
    height: @message-height;
  }

  .field-row {
    width: 100%;
    display: flex;

    .game-controls-column {
      width: 30%;

      .player-name-row {
        #player-name-input {
          margin-left: 10px;
        }

      }

      .control-buttons-row {
        .new-game-row {
          .new-game-placeholder {
            width: 100%;
            margin-bottom: 10px;
          }

          .new-game {
            .button-default(@green-color);
          }
        }

        .start-game-row {
          display: none;
        }

        .connect-game-row {
          .connect-game-placeholder {
            width: 100%;
            margin-bottom: 10px;
          }

          .connect-game-input-row {
            display: flex;
            justify-content: center;
            align-items: center;

            .connect-game-input-label {
              margin-right: 10px;
              @media @mobile {
                margin-right: 0;
              }
            }

            .connect-game {
              .button-default(@green-color);
              @media @mobile {
                margin-top: 10px;
                margin-left: 0;
              }
              margin-left: 10px;
            }
          }
        }

        .start-game {
          .button-default(@default-button-color);
        }

        .stop-game {
          margin-left: 10px;
          display: none;
          .button-default(@red-color);
        }
      }

    }

    .field-column {
      display: flex;
      justify-content: center;
      width: 40%;
      min-width: 320px;

      .field {
        width: 320px;
        height: 320px;
      }
    }

    .game-props-column {
      width: 30%;

      .game-id-row, .enemy-name-row {
        justify-content: flex-start;
      }

      .game-id-row {
        display: none;
        width: 100%;

        .game-id-title {
          margin-right: 10px;
        }
      }

      .enemy-name-row {
        display: none;
      }
    }

  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  @media (min-width: 1440px) {
    padding-left: 100px;
    padding-right: 100px;
  }

}

.button-default(@color) {
  box-shadow: 0 2px 0 0 darken(@color, 10%);
  color: @color;
  border-color: @color;
  height: 35px;
  &:active {
    padding-top: 8px;
    box-shadow: 0 2px 0 0 @color;
    outline: none;
  }
  &:hover {
    color: white;
    background-color: @color;
  }
  &:focus {
    outline: none;
  }
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  &:active {
    background-image: none;
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

